@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,600;8..144,700&display=swap');

:root {
  --primary-color: #f69a10;
  --accent-color: #ffe68e;
  --note-color: #ffefa4;
  --soft-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  background-color: #fff;
  min-height: fit-content;
}

.logo {
  font-weight: 700;
  font-size: 18pt;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: var(--accent-color);
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list li {
  margin: 0px 10px;
}

.nav-list button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-container {
  max-width: 500px;
  margin: auto;
}

.form {
  margin-top: 20px;
}

.form-group {
  width: 100%;
  padding: 5px 0px;
}

.form-control {
  width: 100%;
  padding: 5px;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 2px;
}

.btn {
  padding: 7px 15px;
  outline: none;
  background-color: #f69a10;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.25s;
}

.btn:hover {
  opacity: 0.90;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-outline {
  border: none;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 5px;
  transition: all 0.25s ease-out;
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.no-notes {
  text-align: center;
  opacity: 0.75;
}

.note {
  border: none;
  background-color: #ffefa4;
  color: #000;
  border-radius: 3px;
  width: 200px;
  height: fit-content;
  margin: 10px;
  padding: 5px 10px;
  transition: all 0.25s;
  white-space: pre-wrap;
  overflow: hidden;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack .note {
  width: 90%;
  max-width: 1100px;
  max-height: 250px;
  min-height: 100px;
}

.note:hover {
  box-shadow: 0px 2px 5px rgba(100, 100, 100, 0.2);
  transform: translateY(-3px);
}

.note-title {
  font-size: 16pt;
}

.modal {
  position: fixed;
  z-index: 3;
  top: 0%;
  left: 0%;
  background-color: rgba(100, 100, 100, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#editor {
  padding: 10px;
  overflow-y: auto;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.editor-container {
  position: fixed;
  z-index: 3;
  width: 550px;
  max-width: 100vw;
  max-height: calc(100vh);
  height: 500px;
  box-shadow: var(--soft-shadow);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.editor-container input {
  width: 100%;
  outline: none;
  border: none;
}

.editor-container #title {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 20pt;
}

.editor-container #label {
  border-radius: 3px;
  padding: 8px;
  margin: 5px;
  margin-top: 0px;
  font-size: 12pt;
  border-top: 1px solid #ccc;
  background-color: transparent;
}

.labels-container {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  min-height: 35px;
  max-height: 100px;
  height: fit-content;
  overflow-y: auto;
  box-shadow: inset 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.label .label-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
  margin: 0;
  margin-left: 5px;
  border-radius: 50%;
  font-size: 8pt;
  background-color: #ffc670;
  color: #000;
  opacity: 0;
  transition: all 0.25s;
}

.label .label-delete:hover {
  opacity: 1;
}

.toolbar {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 1;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.editor-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-toolbar .btn {
  margin: 0px 2px;
}

.note-body {
  height: fit-content;
  min-height: 70px;
  max-height: 400px;
}

.note-labels {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.label-controls {
  height: fit-content;
  max-height: 100px;
  width: 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.label {
  vertical-align: center;
  font-size: 10pt;
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 3px 7px;
  border-radius: 18px;
  background-color: var(--primary-color);
  width: fit-content;
}

.label-text {
  font-size: 11pt;
}

.no-labels {
  align-self: center;
  font-size: 11pt;
  opacity: 0.4;
}

.view-toolbar {
  margin: 0px 10px;
}

.view-toolbar .btn-outline {
  padding-left: 10px;
  padding-right: 10px;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 #000 transparent transparent;
  border-radius: 50%;
  animation: spin 1.5s ease-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1.0);
  }

  50% {
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    transform: rotate(720deg) scale(1.0);
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 680px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .note {
    width: 150px;
  }
}